[Unit]
Description=nomad agent
Requires=network-online.target
After=network-online.target

[Service]
User=nomad
Group=nomad
EnvironmentFile=-/etc/default/nomad
Restart=on-failure
ExecStart=/usr/local/bin/nomad agent $OPTIONS -config=/etc/nomad.d

[Install]
WantedBy=multi-user.target
